body {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
  }

  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  h1 {
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  }

  p1 {
    color: rgb(5, 48, 48);
    text-align: center;
    font-family: fantasy;
  }

  p2 {color: rgb(5, 48, 48);
    text-align: center;
    font-family: fantasy;
  }
  
  img {
    width: 450px;
  }
