/* ============================= */
/* ===== Allgemeine Styles ===== */
/* ============================= */

/* Dein Code */

/* ======================================= */
/* ===== Section 1: Navigationszeile ===== */
/* ======================================= */

/* Dein Code */

/* ================================ */
/* ===== Section 2: Überblick ===== */
/* ================================ */

/* Dein Code */
.section-style-2 {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    color: rgb(2, 241, 142);
  }

  .btn {
    width: 200%;
  }

/* =============================== */
/* ===== Section 3: Features ===== */
/* =============================== */

/* Dein Code */

/* ================================== */
/* ===== Section 4: Bewertungen ===== */
/* ================================== */

/* Dein Code */

/* ============================= */
/* ===== Section 5: Preise ===== */
/* ============================= */

/* Dein Code */

/* ============================= */
/* ===== Section 6: Footer ===== */
/* ============================= */

/* Dein Code */
